name: Gradle Task
run-name: "Gradle Task ${{ inputs.gradle-task }} @ ${{ inputs.runs-on }}"

# Reusable Workflow for running a Gradle task

on:
   workflow_dispatch:

   workflow_call:
      inputs:
         ref:
            description: "The git branch, tag or SHA to checkout"
            required: false
            type: string
         gradle-task:
            description: "The Gradle task to run, including any flags"
            required: true
            type: string
         runs-on:
            description: "OSes to run the task on"
            required: true
            type: string


concurrency:
   # note: the Workflow inputs are also included in the concurrency group
   group: "${{ github.workflow }} ${{ join(inputs.*) }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
   cancel-in-progress: true


permissions:
   contents: read


jobs:

   run-task:
      runs-on: ${{ inputs.runs-on }}
      name: "./gradlew ${{ inputs.gradle-task}} @ ${{ inputs.runs-on }}"
      timeout-minutes: 60
      steps:
         -  name: Checkout the repo
            uses: actions/checkout@v4
            with:
               ref: ${{inputs.ref }}
               fetch-depth: 0

         -  name: Calculate version
            id: version
            uses: Kantis/semantic-version@master
            with:
               version_format: "${major}.${minor}.${patch}.${increment}-SNAPSHOT"

         -  name: Setup JDK
            uses: actions/setup-java@v4
            with:
               distribution: temurin
               java-version: 11

         -  uses: gradle/gradle-build-action@v3
            with:
               gradle-home-cache-cleanup: true

         -  id: cache-kotlin-konan
            uses: actions/cache@v4
            with:
               path: ~/.konan
               key: ${{ runner.os }}-kotlin-konan

         -  id: stable-version
            if: steps.version.outputs.is_tagged == 'true'
            run: >
               echo "version=${{ steps.version.outputs.major }}.${{steps.version.outputs.minor }}.${{steps.version.outputs.patch }}" >> $GITHUB_OUTPUT

         -  name: Run ${{ inputs.gradle-task }}
            env:
               ORG_GRADLE_PROJECT_ks3_enableKotlinJvm: true
               ORG_GRADLE_PROJECT_ks3_enableKotlinJs: true
               ORG_GRADLE_PROJECT_ks3_enableKotlinNative: true

               ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
               ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
               ORG_GRADLE_PROJECT_ossrhUsername: ${{ secrets.OSSRH_USERNAME }}
               ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.OSSRH_PASSWORD }}
            run: >-
               ./gradlew ${{ inputs.gradle-task }} -Pversion="${{ steps.stable-version.outputs.version || steps.version.outputs.version }}"


         -  name: Upload build reports
            if: failure()
            uses: actions/upload-artifact@v4
            with:
               name: build-report-${{ runner.os }}-${{ github.action }}
               path: "**/build/reports/"
               if-no-files-found: ignore
